Импортируем необходимые для анализа библиотеки

In [1]:
import numpy as np
import pandas as pd
from collections import Counter
import datetime as dt
import itertools

Просматриваем получившийся датафрейм

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1491,tt0415306,72500000,162966177,Talladega Nights: The Ballad of Ricky Bobby,Will Ferrell|John C. Reilly|Gary Cole|Austin C...,Adam McKay,The story of a man who could only count to #1,Lifelong friends and national idols Ricky Bobb...,116,Comedy,Columbia Pictures|Apatow Productions,8/4/2006,6.2,2006
881,tt0187738,54000000,155010032,Blade II,Wesley Snipes|Kris Kristofferson|Ron Perlman|L...,Guillermo del Toro,Faster. Sharper. Deadlier.,A rare mutation has occurred within the vampir...,117,Science Fiction|Horror|Action|Thriller,"New Line Cinema|Marvel Entertainment, LLC|Amen...",3/22/2002,6.1,2002

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

In [6]:
data['profit'] = data.revenue - data.budget # создаем новый столбец, который содержит данные о прибыли фильма

In [7]:
data['release_date'] = pd.to_datetime(data['release_date']) 
# переводим столбец в формат datetime

# 1. У какого фильма из списка самый большой бюджет?

In [8]:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

In [9]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

In [11]:
answers['2'] = 'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [12]:
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

In [13]:
answers['3'] = 'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [14]:
data.runtime.mean()

109.6585494970884

In [15]:
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [16]:
data.runtime.median()

107.0

In [17]:
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?

In [18]:
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

In [19]:
answers['6'] = 'Avatar'

# 7. Какой фильм самый убыточный?

In [20]:
data[data.profit == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

In [21]:
answers['7'] = 'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [22]:
data[data.profit > 0].original_title.count()

1478

In [23]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [24]:
data_2008 = data.copy()

In [25]:
data_2008 = data_2008[data_2008['release_date'].dt.year == 2008]

In [26]:
data_2008[data_2008['profit'] == data_2008['profit'].max()]['original_title']

599    The Dark Knight
Name: original_title, dtype: object

In [27]:
answers['9'] = 'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [28]:
data_12_14 = data.copy()

In [29]:
data_12_14 = data_12_14[(data_12_14['release_date'].dt.year > 2011)&
                                                  (data_12_14['release_date'].dt.year < 2015)]

In [30]:
data_12_14[data_12_14['profit'] == data_12_14['profit'].min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

In [31]:
answers['10'] = 'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [32]:
data_genres = data.copy()

In [33]:
data_genres['genres'] = data_genres['genres'].str.split('|')
data_genres = data_genres.explode('genres')
data_genres['genres'].value_counts(ascending = False).index[0]

'Drama'

In [34]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

Берем датафрейм из 11 задания, в нем уже разбиты данные по отдельным жанрам

In [35]:
data_genres = data_genres[data_genres['profit'] > 0]

In [36]:
data_genres['genres'].value_counts().index[0]

'Drama'

In [37]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [38]:
profitable_direcor = data.copy()

In [39]:
profitable_direcor['director'] = profitable_direcor['director'].str.split('|')
profitable_direcor = profitable_direcor.explode('director')

In [40]:
profitable_direcor.groupby(
['director'])['profit'].sum().sort_values(ascending = False).index[0]

'Peter Jackson'

In [41]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [42]:
data_action = data.copy()

In [43]:
data_action['genres'] = data_action['genres'].str.split('|')
data_action = data_action.explode('genres')

In [44]:
data_action['director'] = data_action['director'].str.split('|')
data_action = data_action.explode('director')

In [45]:
data_action[data_action['genres'] == 'Action']['director'].value_counts(ascending = False).index[0]

'Robert Rodriguez'

In [46]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [47]:
data_cast = data.copy()

In [48]:
data_cast['cast'] = data_cast['cast'].str.split('|')
data_cast = data_cast.explode('cast')

In [49]:
data_cast = data_cast[data_cast['release_date'].dt.year == 2012]

In [50]:
data_cast.groupby(['cast'])['revenue'].sum().sort_values(ascending = False).index[0]

'Chris Hemsworth'

In [51]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [52]:
high_budget_movie = data.copy()

In [53]:
high_budget_movie = high_budget_movie[high_budget_movie['budget'] > high_budget_movie['budget'].mean()]

In [54]:
high_budget_movie['cast'] = high_budget_movie['cast'].str.split('|')
high_budget_movie = high_budget_movie.explode('cast')

In [55]:
high_budget_movie.groupby(
    ['cast'])['imdb_id'].count().sort_values(ascending = False).index[0]

'Matt Damon'

In [56]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [57]:
Nicolas_Cage_data = data.copy()

In [58]:
Nicolas_Cage_data['cast'] = Nicolas_Cage_data['cast'].str.split('|')
Nicolas_Cage_data = Nicolas_Cage_data.explode('cast')

In [59]:
Nicolas_Cage_data = Nicolas_Cage_data[Nicolas_Cage_data['cast'] == 'Nicolas Cage']

In [60]:
Nicolas_Cage_data['genres'] = Nicolas_Cage_data['genres'].str.split('|')
Nicolas_Cage_data = Nicolas_Cage_data.explode('genres')

In [61]:
Nicolas_Cage_data.groupby(['cast'])['genres'].value_counts(ascending = False)

cast          genres
Nicolas Cage  Action             17
              Thriller           15
              Drama              12
              Crime              10
              Fantasy             8
              Adventure           7
              Comedy              6
              Science Fiction     4
              Animation           3
              Family              3
              Mystery             3
              History             2
              Horror              1
              Romance             1
              War                 1
Name: genres, dtype: int64

In [62]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [63]:
data_Paramount = data.copy()

In [64]:
data_Paramount['production_companies'] = data_Paramount['production_companies'].str.split('|')
data_Paramount = data_Paramount.explode('production_companies')

In [65]:
data_Paramount = data_Paramount[data_Paramount['production_companies'] == 'Paramount Pictures']

In [66]:
data_Paramount[data_Paramount['profit'] == data_Paramount['profit'].min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [67]:
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [68]:
best_year_data = data.copy()

In [69]:
best_year_data.groupby(
    best_year_data['release_date'].dt.year)['revenue'].sum().sort_values(ascending =False).index[0]

2015

In [70]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [71]:
Warner_data = data.copy()

In [72]:
Warner_data['production_companies'] = Warner_data['production_companies'].str.split('|')
Warner_data = Warner_data.explode('production_companies')

In [73]:
Warner_data = Warner_data[Warner_data['production_companies'].str.contains('Warner Bros')]

In [74]:
Warner_data.groupby(
    Warner_data['release_date'].dt.year)['profit'].sum().sort_values(ascending =False).index[0]

2014

In [75]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [76]:
most_productive_month = data.copy()

In [77]:
most_productive_month.groupby(
    most_productive_month['release_date'].dt.month)['imdb_id'].count().sort_values(ascending =False).index[0]

9

In [78]:
answers['21'] = '9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [79]:
summer_release = data.copy()

In [80]:
summer_release_groupby = summer_release.groupby(
    summer_release['release_date'].dt.month.isin([6, 7, 8]))['imdb_id'].count()

In [81]:
summer_release_groupby

release_date
False    1439
True      450
Name: imdb_id, dtype: int64

In [82]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [83]:
winter_director = data.copy()

In [84]:
winter_director['director'] = winter_director['director'].str.split('|')
winter_director = winter_director.explode('director')

In [85]:
winter_director = winter_director [winter_director['release_date'].dt.month.isin([12, 1, 2])]

In [86]:
winter_director.groupby(['director'])['imdb_id'].count().sort_values(ascending = False).index[0]

'Peter Jackson'

In [87]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [88]:
longest_title_data = data.copy()

In [89]:
longest_title_data['production_companies'] = longest_title_data['production_companies'].str.split('|')
longest_title_data = longest_title_data.explode('production_companies')

In [90]:
longest_title_data['original_title'] = longest_title_data['original_title'].apply(lambda x: len(x))

In [91]:
longest_title_data.groupby(
    ['production_companies'])['original_title'].mean().sort_values(ascending = False).index[0]

'Four By Two Productions'

In [92]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [93]:
longest_overview_data = data.copy()

In [94]:
longest_overview_data['production_companies'] = longest_overview_data['production_companies'].str.split('|')
longest_overview_data = longest_overview_data.explode('production_companies')

In [95]:
longest_overview_data['overview'] = longest_overview_data['overview'].apply(lambda x: len(x))

In [96]:
longest_overview_data.groupby(
    ['production_companies'])['overview'].mean().sort_values(ascending = False).index[0]

'Midnight Picture Show'

In [97]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [98]:
vote_average_data = data.copy()

In [99]:
vote_average_percentile = np.percentile(vote_average_data['vote_average'], 99)
vote_average_percentile

7.8

In [100]:
vote_average_data = vote_average_data[vote_average_data['vote_average'] > vote_average_percentile]

In [101]:
vote_average_data['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [102]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [103]:
actors_together = data.copy()

In [104]:
actors_together['cast'] = actors_together['cast'].str.split('|')

In [105]:
actors_list = []
for actors in actors_together['cast']: # проходим по всем ячейкам столбца 'cast'
    for actors_pair in itertools.permutations(actors, 2): # создаем из данных в ячейках пары
        actors_list.append(actors_pair) # добавляем пары в пустой список

In [106]:
actors_dict = Counter() # создаем словарь Counter
for pairs in actors_list: # проходим по списку actors_list и считаем количество вхождений
    actors_dict[pairs] += 1

In [107]:
# сортируем полученный словарь по значениям ( по количеству вхождений каждой пары )
sorted_actors_dict = sorted(actors_dict.items(), key=lambda x: x[1], reverse=True)

In [108]:
sorted_actors_dict[0]

(('Daniel Radcliffe', 'Rupert Grint'), 8)

In [109]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

### Словарь итоговый с ответами на все задания

In [110]:
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [111]:
len(answers) # длинна словаря соответсвует количеству вопросов

27